@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* reset */
html,
body,
h1,
div,
button,
canvas,
ul,
li {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font: 400 15px/20px Roboto, sans-serif;
	color: #333;
	background-color: #fff;
}

h1 {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}

/* grid */
html,
body,
.wrap {
	height: 100%;
}

.wrap {
	margin: 0 auto 20px;
	padding: 30px 10px 0 10px;
}

.wrap>div {
	margin-bottom: 30px;
}

.wrap>div .container+.container {
	margin-left: 10px;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

:root {
	--index: calc(1vw + 1vh);
	--color-Silver-Chalice: rgba(0, 0, 0, 0.3)
}

.title {
	line-height: 1;
	font-size: 27px;
	font-weight: bold;
}

/* content */
.container {
	width: calc(var(--index) * 20.5);
	height: 580px;
	position: relative;
	background: #fff;
}

.viewport {
	overflow: hidden;
	position: absolute;
	left: 0px;
	right: 0px;
	top: calc(var(--index) * 7);
	bottom: 7px;
}

.content-box {
	height: 100%;
	position: absolute;
	left: 0;
	right: -17px;
	overflow-y: scroll;
}

.content-list {
	padding: 0 30px 0 5px;
	-webkit-user-select: none;
	user-select: none;
}

.content-list li input {
	text-decoration: none;
	font-size: 17px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #efefef;
	padding: 10px 0 5px;
	margin: 5px 0;
}

.content-list li input:focus {
	outline: none;
	box-shadow: 1px 1px 2px 0 #7CBB00;
}

.add__list-item {
	max-width: 100%;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid #cdcdcd;
}

.add__list-item:focus {
	outline: none;
	border: 1px solid #7CBB00;

}

/* scroll bar */
.scrollbar,
.scroller {
	width: 4px;
	position: absolute;
	top: 0;
}

.scrollbar {
	right: 0;
	bottom: 0;
}

.scroller {
	left: 0;
	border-radius: 2px;
	background: #ccc;
	cursor: pointer;
}

/* Hacks */
_:-ms-input-placeholder,
:root .content-list {
	padding-left: 20px;
}